[2017-04-12 17:35] PaulSchweizer opened #1 "is_dirty"
Node:

if values change on the node:
    self.is_dirty=True

[2017-04-12 17:37] PaulSchweizer opened #2 "disconnect nodes"
Node.disconnect(out, other, in)

[2017-04-12 22:40] PaulSchweizer opened #3 "set all downstream nodes dirty"
use states

[2017-04-18 00:26] #2 closed

[2017-04-18 00:26] #1 closed

[2017-04-18 00:27] PaulSchweizer opened #4 "Graph Class"
A class representing a graph of connected nodes.
The graph will be sent ot the engine and evaluated

[2017-04-18 00:29] PaulSchweizer opened #5 "Evaluation Levels"
Engine provides the evaluation steps/levels/rows. levels have to be evaluated in order, but nodes on each level can be evaluated concurrently.

[2017-04-18 18:35] #5 closed

[2017-04-18 18:35] #4 closed

[2017-04-18 23:21] PaulSchweizer opened #6 "Can't connect Node to itself"

[2017-04-19 00:30] PaulSchweizer commented on #3
add tests for this

[2017-04-19 00:30] PaulSchweizer commented on #6
add tests for this

[2017-04-19 00:33] PaulSchweizer opened #7 "States - Initialized - Running - Failed - Success"
Initialized: The default state
Running: When evaluating
Failed: When the node fails
Success: When the node has successfully finished evaluation

[2017-04-20 21:35] PaulSchweizer opened #8 "Graph has inputs and outputs"
To make subgraphs possible.
Maybe derive directly from Node and add all first level node inputs as inputs to this compound node?

[2017-04-20 23:59] #6 closed

[2017-04-21 00:01] #3 closed

[2017-04-21 16:00] PaulSchweizer opened #9 "with statement for engine"

[2017-04-22 03:29] PaulSchweizer opened #10 "Pass inputs to compute function"
Gather input values as dict and pass to compute(**inputs)

[2017-04-22 04:43] #8 closed

[2017-04-22 05:17] #10 closed

[2017-04-23 15:58] PaulSchweizer opened #11 "output from compute as dict"

[2017-04-23 16:21] #11 closed

[2017-04-23 17:34] PaulSchweizer opened #12 "default values for plugs"

[2017-04-23 18:02] PaulSchweizer opened #13 "Better logging"
Log what the Nodes are doing in compute().

[2017-05-01 21:04] PaulSchweizer opened #14 "Serializable"
- [x] plug
- [x] nodes
- [x] graphs

[2017-05-14 17:04] PaulSchweizer opened #15 "Graph to Celery"
Convert a Graph grid to a Celery network of chained groups. This is not the most effective way, but it will be good enough for now. Later on, a better serialization than a grid can be implemented.

[2017-09-17 10:37] PaulSchweizer opened #16 "User Input Nodes"
☐ Prompt the user for input
☐ Parse Graph for input nodes
☐ Construct a frontend from it

[2017-09-17 10:39] PaulSchweizer opened #17 "Move docs to sphinx"

[2017-09-25 07:53] #14 closed

[2017-09-25 07:53] PaulSchweizer opened #21 "jupyter docs"
- [x] Write Jupyter Docs

[2017-09-25 08:11] PaulSchweizer opened #22 "Requirements for v0.1.0"
- [x] Node must be able to execute arbitrary python code
- [x] Well defined inputs and output definition for node and is customizable
- [x] Graph execution must have a headless mode (for running on the farm)
- [x] API to construct graph programmatically
- [ ] Visual way of connecting nodes
- [x] Graph JSON schema
- [x] programmatically create nodes
- [x] define node's input(s) and output(s)
- [x]

[2017-09-25 08:14] PaulSchweizer opened #23 "Roadmap"
v0.1.0:
- [x] Api:
  - [x] Create Nodes with arbitrary Inputs and Outputs
  - [x] Node can execute arbitrary python code
  - [x] Nodes can be connected via their inputs and outputs to form a Graph
- [x] Graphs behave like Nodes and can be used within other Graphs
- [x] Graph Evaluation in arbitray environments (Engines)
- [x] Graph is JSON serializable and deserializable
- [x] Comprehensive string

[2017-09-25 12:25] PaulSchweizer opened #24 "Remove the log observer"
Remove it and add it back in for a future version when the ui is available

[2017-09-27 12:46] PaulSchweizer commented on #23
v0.1.0:
- [x] Api:
  - [x] Create Nodes with arbitrary Inputs and Outputs
  - [x] Node can execute arbitrary python code
  - [x] Nodes can be connected via their inputs and outputs to form a Graph
- [x] Graphs behave like Nodes and can be used within other Graphs
- [x] Graph Evaluation in arbitray environments (Engines)
- [x] Graph is JSON serializable and deserializable
- [ ] Comprehensive string

[2017-10-01 11:54] #24 closed

[2017-10-01 11:55] #21 closed

[2017-10-18 18:47] PaulSchweizer opened #25 "Improved str of Nodes"
Remove the arrows from the connected inputs and outputs

[2017-10-18 18:49] #22 closed

[2017-10-18 18:52] PaulSchweizer opened #26 "Different Engines in one Graph"
- [ ] One Engine per node

[2017-10-19 13:52] PaulSchweizer opened #27 "inputs from class attributes"
Define the inputs from the class attributes and auto assign **kwargs given in __init__ automatically

[2017-10-19 15:06] PaulSchweizer opened #28 "problem: inputs to __init__ have to have default None"

[2017-10-19 15:10] PaulSchweizer opened #29 "nodes parent attribute"
Nodes can have a parent attribute, for use with graphs

[2017-11-25 10:14] #25 closed

[2017-11-25 10:18] PaulSchweizer opened #30 "INode.as_shell_command"
Convert the node call to a shell command

[2017-11-25 10:19] PaulSchweizer opened #31 "Backend"
Generic Backend based on location on filesystem

[2017-12-20 20:11] PaulSchweizer opened #32 "Serialize to and from graphml"

[2018-06-16 20:03] #31 closed

[2018-06-16 20:03] #26 closed

[2018-06-16 20:03] #9 closed

[2018-06-16 20:03] #23 closed

[2018-07-23 21:07] #12 closed

[2018-07-23 21:07] #13 closed

[2018-07-23 21:07] #30 closed

[2018-07-23 21:08] #27 closed

[2018-07-23 21:08] #16 closed

[2018-08-11 10:55] #29 closed

[2018-08-11 10:55] #7 closed

[2018-08-11 10:57] PaulSchweizer commented on #17
https://github.com/davidstutz/sphinx-example

[2018-08-11 11:02] PaulSchweizer opened #33 "NetworkX"

[2018-08-11 11:02] PaulSchweizer opened #34 "Schema for InputPlugs and OutputPlugs"

[2018-11-22 09:42] Anton-4 opened #35 "Allow flow between graphs and nodes"
Hi Paul, thank you for creating this excellent project.
I have a feature suggestion: for my use case a specific graph is run both standalone and as a subgraph of a different graph. It would be useful to be able to direct the output of a subgraph
to a node, so for example:
[code]

[2018-11-27 13:31] Anton-4 commented on #35
Apparently this is already possible; see `test_nested_graphs_expand_sub_graphs()` in the [tests](https://github.com/PaulSchweizer/flowpipe/blob/master/tests/test_graph.py).

[2018-11-27 13:31] #35 closed

[2018-12-17 11:45] PaulSchweizer opened #36 "FunctionNode to log actual Node name"
When logging the compute of a FunctionNode, we are currently printing FunctionNode, instead of the wrapped function

[2018-12-17 11:46] PaulSchweizer opened #37 "Compound Plugs"
- Make multi-value (compound) plugs possible
- Pertain the same functionality as a regular plug
- Connecting to a string-only key on the plug, to avoid potential issues when serializing to and from JSON as it can only handle strings as dict keys
- Any plug implicitely turns into a Compound Plugs if used as such
- The node receives the values on a compound plug as a dict
- The node identifies the c

[2018-12-19 11:13] Anton-4 opened #38 "publish package to pypi"
It would be convenient to have flowpipe available through pypi.
I have done this recently for another package and would be happy to do this for flowpipe.
I can set it up so publishing is done automatically when a release tag is created on github.

let me know what you think @PaulSchweizer

[2018-12-19 12:51] Anton-4 opened #39 "easy visual inspection of graph"
We @ml2grow have created a graph visualization and inspection webapp for flowpipe graphs:
![image](https://user-images.githubusercontent.com/17049058/50221204-b77d5c00-0394-11e9-836e-f584fbd99c23.png) Node names were hidden for legal reasons.

Node ouputs can be inspected:
![image](https://user-images.githubusercontent.com/17049058/50221253-d54ac100-0394-11e9-92a7-bc69909f6f94.png)

Some useful in

[2019-01-07 13:41] PaulSchweizer commented on #39
@Anton-4 this looks really interesting, I'd like to know more. Feel free to contact me via email

[2019-01-07 13:56] Anton-4 commented on #39
Great, I will get back to you later this week.

[2019-01-08 13:16] PaulSchweizer commented on #38
@Anton-4 that would be amazing, feel free to go ahead with this. Thank you very much!

[2019-01-08 13:45] #36 closed

[2019-01-08 20:35] Anton-4 commented on #38
You're welcome :) I will probably get this done later this week.

[2019-01-11 10:00] Anton-4 commented on #38
@PaulSchweizer can you add a new release/tag on github to test it out?

[2019-01-11 10:43] Anton-4 commented on #38
@PaulSchweizer Thanks, the version number is 0.1.0 because that's what's in the `setup.py`
should I submit a pull request setting it to 0.4.5? That way it is synced up with the github releases.
I will also add that you can now just `pip install flowpipe` to the readme.

[2019-01-11 10:49] PaulSchweizer commented on #38
Yep, that would be great! Also, travis failed: https://travis-ci.org/PaulSchweizer/flowpipe/builds/478269908?utm_medium=notification&utm_source=email
This is because it is trying to deploy for every py version, is it easy to set it up so it only deploys once? Or omit the deployment if is already deployed. Thanks again for your help!

[2019-01-11 10:51] Anton-4 commented on #38
I will check it out.

[2019-01-14 12:54] #38 closed

[2019-01-18 17:05] PaulSchweizer commented on #32
@Anton-4 , good idea! Yes, adding these two methods to the graph would be really good.
It could look something like this maybe (just a quick idea):
[code]
Not sure where to put the other attributes of the Node like "metadata", "class", "module" etc. but you'll find a way :D
Thanks again!

[2019-01-24 10:26] Anton-4 opened #43 "addition of type hints"
I personally love [type hints](https://mypy.readthedocs.io/en/latest/cheat_sheet_py3.html).
They allow for better autocompletion and earlier error detection using [mypy](http://mypy-lang.org/) or PyCharm's integrated checker.

Proper type hints require python 3.6 but they can be [stripped](https://pypi.org/project/strip-hints/) for reverse compatibility.

@PaulSchweizer how would you feel about th

[2019-01-24 12:10] Anton-4 commented on #32
I started working on this and thought: do we really need full serialization and deserialization or just exporting of graph, nodes and edges without attributes like metadata, class, module... ?

I mainly wanted to export to graphml to have a standardized format to feed into the visualizer.
What was your intended use-case for full serialization and deserialization?

[2019-01-24 14:42] PaulSchweizer commented on #32
I see your point @Anton-4 but if we would fully serialize the graph like we currently do in json, we could use the graphml file to fully reconstruct the graph afterwards. Otherwise we would need to keep another (json) file for that purpose.
If it is too much work though, we can start by only serializing as much as you need for visualizing the graph, it should be possible to extend the graphml seri

[2019-01-24 14:48] PaulSchweizer commented on #43
Thanks for the idea @Anton-4 , I personally have never worked with type hints, but I do like the concept. We should get a "schema" for the nodes out of the box, at least to a certain extent, right? Like we could investigate the hints at runtime and provide infos on which input plug accepts which type? That would be helpful for the visualizer as well.
Only concern is the backwards compatibility, bu

[2019-01-24 15:05] Anton-4 commented on #32
I now found how I can cleanly add in nested xml. That issues was kind of holding me back.
I will make it work :)

[2019-01-24 15:06] PaulSchweizer commented on #32
Amazing! Thanks @Anton-4

[2019-01-24 15:15] Anton-4 commented on #43
I agree completely :) .

[2019-01-30 10:33] PaulSchweizer commented on #38
Thanks @Anton-4 good point: https://pypi.org/user/PaulSchweizer/

[2019-02-21 14:52] Anton-4 opened #46 "script to refactor inputs and outputs"
In my project I often have the names of inputs and outputs mentioned three times:
- once in the constructor of a node class as `InputPlug("inputName", self)`
- once in the wiring `node_a.outputs["outputName"] >> node_b.inputs["inputName"]`
- and once in the override of the compute method: `def compute(self, inputName)`

At some point I will probably write a script or maybe a pycharm integration so

[2019-02-25 08:16] PaulSchweizer commented on #46
Sounds like a good idea. Personally I'm using sublime, so I might look into porting your pycharm script/plugin to sublime then

[2019-03-16 12:37] PaulSchweizer commented on #39
@Anton-4 sorry, I was kind of busy these last weeks, I moved and started a new job. I'd still be interested in learning more about your visualization, if you find the time for a chat about it, let me know.

[2019-05-03 08:33] Anton-4 commented on #39
Sorry for the late response, I've been very busy as well. In the coming weeks I will try to set up some code in a repository so you can see how I currently do things for the visualization.
Then we can discuss the code and move on from there.

[2019-05-05 20:18] PaulSchweizer commented on #39
Super cool! Thanks @Anton-4

[2019-05-14 18:16] Anton-4 commented on #39
I have currently uploaded the code to a private repository.
Even though I wrote the code, it is legally owned by the company I work at so I
just need to ask for permission to open source it.
I think it is highly unlikely they will say no. When I get the ok, I will give you access as well.

[2019-05-19 15:34] Anton-4 commented on #39
I got permission to open source the code. I am still working on a nice example graph that is not based on code we used for a customer. I expect to be done with this some time next week.

[2019-05-24 07:33] PaulSchweizer commented on #39
Amazing! Thanks a lot @Anton-4

[2019-05-30 19:33] Anton-4 commented on #39
I am nearly done with the example. I could have easily created a mockup but I think a real and fully interactive example were the node outputs can be examined truly shows the benefits of the visualization.
![Selection_022](https://user-images.githubusercontent.com/17049058/58658801-a6f8e680-8321-11e9-9559-ed051077b041.png)

[2019-07-06 18:38] PaulSchweizer opened #47 "replace imp with importlib"
imp is deprecated since 3.4, should be replaced.
Used in node.py and utilities.py
Basically making this part look a bit nicer while still maintaining backwards compatibility (py2.6)

[2019-07-06 19:02] PaulSchweizer commented on #32
@Anton-4 I'm planning to put some time into flowpipe over the next weeks and am browsing through the backlog here, trying to get back into it and do some planning. Let me know if you're still working on this

[2019-07-06 19:07] PaulSchweizer commented on #39
Hi @Anton-4 , this looks quite amazing, was wondering how we could potentially move forward with this cause I'm planning to spend some time on flowpipe over the next few weeks. No rush though, just wanted to get the conversation started again

[2019-07-10 15:04] Anton-4 commented on #39
Hi Paul, I wanted to add an actual Gaussian Process model to the graph, then I can upload all the visualization code. I wanted to use a GP because the graph is more complex in that case whereas a Random Forest for example would just need a waterfall pipeline, not a real graph. I'll try to see if I can find some time this month to finish this up.

[2019-07-10 15:17] Anton-4 commented on #32
I have not continued working in this. This did require some work to define the complex types as explained [here](http://graphml.graphdrawing.org/primer/graphml-primer.html#Complex).
Feel free to continue working on the schema definition I started [here](https://github.com/Anton-4/flowpipe/commit/a574b1eecf552e2a21b80e45063890e1df206b52).

[2019-07-14 13:01] PaulSchweizer commented on #39
Sounds amazing, thanks @Anton-4 !!

[2019-07-14 13:06] PaulSchweizer commented on #32
Perfect! Thanks for the links and the work you put into this already! I'm going to put some time into this after the compound plugs are done

[2019-07-24 12:29] neuneck opened #48 "Is concurrent execution of the graph possible or planned?"
Hi Paul,

I am looking for a flow based execution library to orchestrate a flow through a set of Microservices. Your work seems compelling!
My individual nodes would consist of REST calls that can, in part, run concurrently. I have seen that your graph already support layering nodes into parallelizable layers. I did not see an option to execute the graph concurrently.

As the execution matrix is a

[2019-07-24 20:28] PaulSchweizer commented on #48
Hi Julian,

Thanks for the comments and your interest!

Currently, there are no plans to add such an execution framework. Mostly because in my use cases, there is already a system that handles parallel execution for me and I am simply converting the flowpipe graphs into something that that system can understand. So I simply had no need for this yet.

But that being said, it would be really cool to

[2019-07-25 16:48] neuneck commented on #48
Hi Paul,

I looked into concurrency with asyncio a little. I'm afraid adding that to flowpipe directly would basically imply duplicating the entire codebase. functions and coroutines are not interoperable at all. If you come to a different conclusion I would love to discuss what options you see.

For the time being, in order not to clutter any package (and because I would like to go differently ab

[2019-07-25 20:32] PaulSchweizer commented on #48
Hi Julian,

Thanks for the investigations on your part, I haven't really looked into asyncio so far, but from what I read, it seems your findings are correct, we would need to restructure this library quite a bit.

But, I whipped up this surprisingly simple threading solution, actually surprised me how simple it was (could still be improved of course):

[code]

Maybe that helps?

Also I'd like to

[2019-07-26 10:26] neuneck commented on #48
Hi Paul,

first of all: Great work on that threading solution. It looks easy enough to add it. My guess would be that since each node is run in it's own thread, a user wouldn't have to care about thread safety of his calls a lot - unless she uses shared resources. And that's exactly what I will do: I want to use a flow-based approach to orchestrate a bunch of stateless microservices that partially

[2019-07-26 16:15] PaulSchweizer commented on #48
Yes, thread safety is guaranteed as long as the user does not use shared objects as you mention. Is that what you want to do? Use shared objects of some sort?
Maybe you could sketch out a rough outline of what your graph would look like, I don't fully understand your intendend workflow tbh.
Serialization: I see, you just want to apply values to an existing graph, yes, that would require a new func

[2019-07-27 19:17] neuneck commented on #48
As I mentioned very briefly, I want to orchestrate several microservices. The runtimes of these services can range from 0.5 to 10 seconds. I need to wait on the inputs becoming available in a database and then kick off calls to the services, as soon as all their dependencies are met, since in my scenario the user is actively waiting on the final result of the process. I set up a somewhat simplifie

[2019-07-30 07:27] PaulSchweizer commented on #48
Thanks for the mockup, it makes more sense to me now.
I'm really excited to see what comes of this, would be cool if we could make this work! Let me know if you need anything in the meantime

[2019-08-03 08:24] #37 closed

[2019-08-05 09:34] neuneck opened #53 "Add a global default graph"
I work with tensorflow on a regular basis, which also has a graph-based evaluation scheme. There, a default global graph exists and nodes not specifically assigned to a different graph will be added to that.

The main advantage is that the API becomes simpler for the - ostensibly standard - use case of having a single graph to evaluate. No graph needs to be instantiated and managed by users.

The

[2019-08-05 14:14] neuneck commented on #48
I will spend some time this week extending your threading suggestion into something that can be pulled into master. Since I did not find any contribution guidelines, did you settle on a documentation standard or other code guidelines? I aim to make integration of my PR as little work as possible :)

[2019-08-05 15:01] PaulSchweizer commented on #48
Great, thanks @neuneck !
True, I should put up some guidelines for contributing.
These are the standards I myself try to abide to:
- pep8 standard
- keep it backwards compatible (there are some folks inclusing myself who still run it a py 2.7 environment for at least another half a year, sorry ...). If that's not possible, we can still put it in but should somehow exclude that code from older pyth

[2019-08-05 15:13] PaulSchweizer commented on #53
Thanks for the idea, I think that would be a good feature to add and definitely save some time!

- Can the default graph be reset/cleared?
- Where would it be, in graph.py?
- Do we need more utilities for this?

I imagine it to look something like this, but please correct me if I'm wrong:

[code]

Output
[code]

[2019-08-05 17:27] neuneck commented on #53
I had something super simple in mind. In the flowpipe `__init__`
[code]
And in node.py
[code]

My rationale for putting it into the `__init__.py` is that is a module-level concept and thus should be accessible as `flowpipe.get_default_graph()`.

[2019-08-06 08:15] PaulSchweizer commented on #53
Sounds good, only thing I'd add is a "clear/reset" functionality which would be useful for interactive sessions, something like this:

[code]

And another question that just came to mind: Are we going to get import loops from this as graph is currently importing node.INode?

[2019-08-06 09:30] neuneck commented on #53
Indeed. With a minor refactor, that could be amended, though. The only function from the INode that is ever used in a graph is the staticmethod `INode.deserialize`.

My suggestion would be to refactor the static deserialize methods into a new module, `deserialize.py` and wrap calls to the functions there to maintain backwards compatibility.

[2019-08-06 09:43] PaulSchweizer commented on #53
Sounds good, @Anton-4 also started working on this ticket, serializing the graph to graphml, https://github.com/PaulSchweizer/flowpipe/issues/32
So in the long run it might make sense to continue down that road and introduce a "serialization.py" that can then contain different serializers as started here: https://github.com/Anton-4/flowpipe/commit/7ad87742cea8a41c0fb2fa43314fc70e6901f6f6

But this

[2019-08-06 13:16] neuneck opened #56 "Automatically connecting plugs based on names"
I have an idea for an API simplification. I know little about other people's use case, but for me, it makes a lot of sense to name plugs based of whatever semantic information flows through them ("features", "user_image", "detected_objects").

Since I found myself naming output and input plugs that I was going to connect the same way, I think it makes sense to extend the use of the `connect` metho

[2019-08-06 16:18] neuneck commented on #48
Closing this issue because a PR based on @PaulSchweizer 's suggestion on threaded evaluation has been issued.

[2019-08-06 16:18] #48 closed

[2019-08-07 09:35] PaulSchweizer commented on #56
I like this.
I think I would impose a limit to the node >> node connection in a sense that it only connects anything if all outputs match all inputs so we don't end up with situations where only some connections have been established but some have not. But you might have planned it that way already anyways.

I also think that this could only apply to normal plugs, not to compound plugs as they are

[2019-08-07 10:09] neuneck commented on #56
Thank you for your positive feedback!

For my taste, the restriction to cases where all inputs match all outputs goes too far. My goal was never having to refer to `inputs` or `outputs` explicitly if I name my plugs properly. For situations where unique plug names are not possible or more fine-grained control is required, the explicit output/input API would stay in place, of course.

[2019-08-07 11:05] PaulSchweizer commented on #56
I see what you mean, for you, plugs are also somewhat synonymous with "data types", makes total sense to then just connect the ones that match and just ignore those that don't. Please go ahead, my idea was just a consideration. Thanks again for the proposal

[2019-08-13 15:52] neuneck opened #57 "The first example in README.md is broken"
I think the example in the README needs to import InputPlug and OutputPlug to work as copy/paste code.

Also, the dict values in the party node needs to be converted to list explicitly to allow for slicing:
[code]

[2019-08-14 07:58] PaulSchweizer commented on #57
Thanks for catching this, I think the best future proof solution will be to also set up a test for the readme file, should be doable through eval'ing everything inside a python block in the readme.md.

[2019-08-14 08:03] PaulSchweizer commented on #57
Thanks for fixing it right away, the test idea is not urgent but I may come back to it and integrate it at some point cause it's always a pain having to manually test examples and then finding out that they are actually broken

[2019-08-14 09:15] #57 closed

[2019-08-14 09:18] #53 closed

[2019-08-14 12:46] neuneck opened #59 "Wrap json.dumps in log outputs to handle non-json serializable data."
Moving from dummy values to a more realistic setup, I ran into issues with the `LogObserver` messages running `json.dumps`. This limits the graph to handle only json serializable structures (as opposed to, say, numpy arrays or Bytes objects).

To amend this, I suggest a function `log_string` in utilities, that tries a json serialization and backs off on `TypeError`s, falling back to a sha256 of th

[2019-08-19 08:15] #59 closed

[2019-09-11 06:57] Onandon11 opened #63 "TypeError: Object of type 'ndarray' is not JSON serializable"
When using numpy array as outputs there is a problem in with jsonify the numpy array.

Code to reproduce (Python 3.6.5):
[code]

[2019-09-13 07:51] PaulSchweizer commented on #63
Thanks for the report @Onandon11 I'll take a look at this later today.

[2019-09-13 08:16] PaulSchweizer commented on #63
I tried your test code with the latest code from master and it worked. I think @neuneck had already identified this issue and fixed it but we just hadn't release it yet.
I released it now as v0.5.1 (https://pypi.org/project/flowpipe/) please try it again and let me know if this issue is fixed for you as well now

[2019-09-13 08:33] Onandon11 commented on #63
Hi @PaulSchweizer,

Indeed you are right. I downloaded the code using pip and checked for the version (0.5.0) so I assumed that I had the latest source code. But a diff showed me otherwise, I downloaded the code from Github and now it's working indeed.

[2019-09-13 08:33] #63 closed

[2019-09-13 10:09] Onandon11 opened #64 "RuntimeError: Could not sucessfully compute all nodes in the graph Test"
I'm trying to use the code for geometrical dataprocessing. This data can be huge and contain millions of point and multiple processing steps. Therefore I want to use multi-threading (better should be multi-processing), but I get an error which I can't place what's wrong.

I'm running Python 3.6.5 and the latest code from you repo. Code to reproduce:

[code]

[2019-09-13 12:46] PaulSchweizer commented on #64
Thanks for the report again and the detailed example, very much appreciated!

I created a PR with changes that fixed this issue for me: https://github.com/PaulSchweizer/flowpipe/pull/65

Could you give it a go in your local environment?

Aside from that multi-processing is indeed something I'd like to have as well. If you have any further ideas or requirements that you would want to share in that

[2019-09-13 13:15] Onandon11 commented on #64
Thank you for your quick response :)

The reason why I have some questions and found some bugs is due to the fact that we want to use your module for our own project. We currently have a similar module but is much less mature than yours. I stumbled upon your module because we were searching for a standard module, or at least a module which is used by more people than only use, for Flow Based Progr

[2019-09-13 14:35] PaulSchweizer commented on #64
Cool, I'm happy you're trying out flowpipe! I am actively using it myself, although in a different environment than you so I'm sure that there will be a few more issues surfacing when you use it more. So if you have any input, don't hesitate to share it!

[2019-09-13 19:33] PaulSchweizer opened #66 "Multiprocessing"
Now that we have multi-threading, let's implement multiprocessing.
It should work in a similar fashion as multi threading.

[2019-09-13 19:58] PaulSchweizer commented on #66
PR submitted: https://github.com/PaulSchweizer/flowpipe/pull/67

[2019-09-23 14:57] Onandon11 opened #68 "ValueError: ndarray is not C-contiguous"
When returning numpy arrays which are not C-contiguous an error is raised at the `sha256(o).hexdigest` row.

Can we check for numpy array and the make the array c-contiguous. At row 59 in `flowpipe\utilities.py`. Like the following:
[code]

PS.: Maybe you can give me the rights to make branches and help you develop?

[2019-09-23 14:58] Onandon11 commented on #64
[](url)

[2019-09-23 14:58] #64 closed

[2019-09-23 15:09] Onandon11 commented on #68
You can repoduce the exception with the following code:

[code]

[2019-09-23 15:54] neuneck commented on #68
I would much prefer to add a second `except` clause to the `try` statement, catching `ValueError` and resorting to `bytes(o)` in those instances. My reasoning is as follows:

1. It does not add a dependency to a rather large library just for an edge case sanitization.
2. It will actually catch more cases.
3. Explicitly type-checking here does not strike me as particularly pythonic.

I already prep

[2019-09-23 16:05] neuneck commented on #68
@Onandon11 The easiest way to contribute would be to

- fork flowpipe yourself
- work on a branch in your own fork of the repo
- submit a pullrequest against this repo

If you need further guidance on how to do so, I'm happy to go into more detail :-)

[2019-09-24 05:31] #68 closed

[2019-09-24 05:38] Onandon11 commented on #68
I agree adding the numpy dependency to the module is nog the best idea. Sorry I was projecting my own use-cases to much at the flowpipe module :) I use flowpipe for dataprocessing and therefore have heavy dependencies with numpy and scipy.

I agree with adding another except statement is much better 👍 .

I will try your approach, I will let you know when I have any questions. Maybe I will try to m

[2019-09-24 08:41] Onandon11 commented on #39
Hi @Anton-4, can you explain how you developed the graphs shown in your previous comments? I would really like to make such a graph for my code.

[2019-09-25 09:16] Anton-4 commented on #39
@Onandon11 certainly :) I exported the graph nodes and edges to json and loaded them using
[dagre-D3](https://github.com/dagrejs/dagre-d3). The demos [here](https://github.com/dagrejs/dagre-d3/wiki#demos) are a great place to get started. Afterwards I just added some css.

In the coming weeks I will see if I can work something out with my previous employer and open source the code.

[2019-09-26 11:59] neuneck opened #70 "Add a `get_node` or `__getitem__` method to Graph in order to get nodes by name"
It would be convenient to have a `get_node` method on the Graph class to be able to retreive nodes by name. This plays well together with the fact that nodes in the graph have to have unique names.

This is easy enough to implement for cases where it doesn't work, but I have a hard time figuring out what the proper behavior should be in case a node of the given name does not exist.

An alternative

[2019-10-03 05:12] Onandon11 opened #71 "ValueError: Function has keyword-only parameters or annotations, use getfullargspec() API which can support them"
Sorry for the incoming issues, but I found another one... When creating a function with type hinting (aka annotation), the inspect module complains about the use of `getargspec`.

I suggest to change the code in `flowpipe\node.py` @ row 444 from `arg_spec = inspect.getargspec(func)` to `arg_spec = inspect.getfullargspec(func)`. Thereafter all codes behaves normally.

The code to reproduce:
[code]

[2019-10-03 05:17] Onandon11 opened #72 "No function to guess the number of SubOutputPlugs"
I have a function which makes a number of suboutputplugs. But before runtime I don't know how many. How can I connect all the outputs without knowing the number at forehand.. any ideas?

[2019-10-03 13:51] PaulSchweizer commented on #70
@neuneck , this is already available via `__getitem__`, exactly the way you describe it : https://github.com/PaulSchweizer/flowpipe/blob/master/flowpipe/graph.py#L37

Maybe this should be mentioned in the README somewhere

[2019-10-03 14:25] PaulSchweizer commented on #72
@Onandon11 you'd somehow need to know the number of (sub)outputs before graph evaluation, otherwise you can't construct the graph, right? Or maybe I am misunderstanding the question or you have a specific scenario in mind?

Does this example help:

[code]

The graph:

[code]

[2019-10-03 14:26] PaulSchweizer opened #73 "Add Contributor guide"
We should have a contributor guide in the repo

[2019-10-04 06:27] Onandon11 commented on #72
@PaulSchweizer, you are right! Without knowing the number of suboutputplugs there is no way to connect the plugs to subsequent nodes.

You example helps indeed! But without knowing the value for count... So more like this:
[code]

Maybe we need something like the following. Which maps all outputplugs automagically to the next nodes. Making as many connections as needed (at evaluation time).
[code]

[2019-10-04 08:23] #70 closed

[2019-10-04 08:42] PaulSchweizer commented on #72
I think I know what you mean now.
Basically, your graph would look like this:

[code]

And after evaluation it would look like this:

[code]

The code would look like this:

[code]

Now the problem currently is that `my_print` would not receive the values from `generate`. This was deliberate at the time but I think that we should change it. SubOutputPlugs have to inform their parent when their val

[2019-10-04 11:15] PaulSchweizer commented on #73
Also add info on release policy

[2019-10-04 15:03] PaulSchweizer commented on #72
@Onandon11 , I created a PR that should solve your problem, but let me know if this is not what you meant

[2019-10-04 15:03] #71 closed

[2019-10-04 15:28] Onandon11 commented on #72
@PaulSchweizer, this is great, this indeed what I were looking for.

Does the `my_print` node automatically sees that there are subnodes? And do the keys of the output of `my_print` node correspond to the names created in `generate`?

Maybe I can make some sort of docstrings? I'm sometimes missing somewhat of the logic behind the whole structure.

FYI, we are currently working with your module on

[2019-10-04 15:46] PaulSchweizer commented on #72
Glad that this was the issue, let' try to explain how it works:

If an output plug, that produces sub-plugs, is directly connected to an input plug like this:

[code]

the downstream node will receive a dictionary with the sub plugs as keys and their values as values, so from our example above `my_print.inputs['value']` would hold these values:

[code]

I hope that makes sense?

I have put this in

[2019-10-04 15:58] Onandon11 commented on #72
Alright, that's indeed how I hoped it worked. This is great for automatic iteration over and outputplug which contains subplugs.

I saw the tests indeed, however I don't have python at hand now and the actual logic behind was a bit unclear to me ..

Agree, Sphinx is the right place for such an extensive documentation. However I also haven't done the procedure myself. But I'm always eager to contib

[2019-10-07 13:15] #73 closed

[2019-10-07 14:26] PaulSchweizer commented on #72
v0.5.4 is released with these changes.

[2019-10-07 14:26] #72 closed

[2019-10-07 14:30] PaulSchweizer commented on #17
I started setting this up here: https://github.com/PaulSchweizer/flowpipe/tree/sphinx-docs
But this is just me dabbling with it and trying to figure out what we'd need.
Here's the doc: https://flowpipe.readthedocs.io/en/sphinx-docs/
Feel free to join the dabbling @Onandon11.

[2019-10-08 08:50] Onandon11 commented on #72
Great, I updated the requirements.txt for our own repo :)

[2019-10-09 14:47] neuneck opened #78 "Can deserialize_node support customized subclasses of INode?"
When using the default deserialization, I keep running into trouble with my nodes. I subclass `INode` directly and don't see how/where the node properties / init parameters are (de)serialized.

I am not sure how this can be remedied. Can one track with which parameters the `__init__` was originally called and store those internally for the serialization?

To reproduce:
[code]

If I make the intial

[2019-10-09 15:09] PaulSchweizer commented on #78
What about turning `foo` into an InputPlug, it whould then be serialized properly. You could even have a `foo` property to have the same accessability:

[code]

Or would that not be feasible for you?

[2019-10-09 15:37] neuneck commented on #78
The `__init__` will not be called after the plugs get their values in the `post_deserialize` method, right? What I'm doing is I instantiate a client in the `__init__` and use that client in the `compute` method.

Since my graph/nodes are single-use only, it should not matter much whether I instantiate a new client on every run of `compute`. Therefore, your suggestion might just work.

[2019-10-10 08:53] neuneck commented on #78
Yes, definitely. I will check out if I can get what I want with subclassing `INode.serialize` - it might just work. If not, I'll have to do something so specialized to my use-case that it will make little sense to move that into flowpipe.

[2019-10-10 08:53] #78 closed

[2019-10-10 14:42] neuneck opened #79 "Graph.evaluate changes behaviour depending on `threaded` flag"
I just realized that the plain `Graph.evaluate(threaded=False)` evaluates all nodes independently of their dirty status. On the other hand `Graph.evaluate(threaded=True)` skips the evaluation of nodes that are not dirty.

I don't think that the `threaded` flag should change the evaluation behavior in this way. Moreover I think it makes a neat clarification to give the user explicit control over wh

[2019-10-10 16:34] neuneck opened #80 "Why not use pickle for graph or node serialization?"
I just found out that the python standard library module _pickle_ can easily create a binary representation of the entire graph, including its nodes, relations, internal state etc.

Advantages I see are that
  * serialization and de-serialization are literal one-liners,
  * pickle smartly serializes individual objects only once, making sure not to duplicate, i.e. the `value` between an `OutputPlug

[2019-10-10 19:56] PaulSchweizer commented on #80
Thanks for the investigation and the insights!

You're right, we should rework the whole serialization a bit to allow for both json and pickle. I chose json at the time because I personally wanted that human-readability but of course it makes no sense to limit it to that.

I can also see other serialization formats, in fact we already have a ticket to serialize the graph to graphml #32 to make it

[2019-10-10 19:58] PaulSchweizer commented on #79
Good point, we should make sure that both methods are aligned, thanks for spotting this! And yes I think we should do it the way you suggest.

[2019-10-10 20:11] PaulSchweizer opened #81 "Multiprocessing optimizations"
Currently, every node will be evaluated in it's own process. There are however situations where chains of nodes could be grouped together and evaluated in one single process, thus limiting the amount of processes and saving on the startup time for these unnecessary processes.

Consider this graph:

[code]

[code]

We have 5 nodes resulting in 5 processes. If we would group the nodes, we could lowe

[2019-10-10 20:14] PaulSchweizer opened #82 "How to access the different evaluation types"
We now have three ways of evaluation: linear, multithreaed, multiprocessed.
Currently threaded and linear are available through `Graph.evaluate` whereas multiprocessing has it's own function `Graph.evaluate_multiprocessed`.
I'd like to consolidate this by having an evaluation function for each methodology.

I think the easiest would be to make `evaluate_threaded` public and deprecate the `threaded

[2019-10-10 23:52] neuneck commented on #80
In general I think (de)serialization should stay bundled with the class itself. Serialization usually concerns the inner workings of a class as it has to be aware of the attributes that are necessary to ensure that a properly working instance is retreived after a round trip. At the same time, I see the charm in keeping the actual class clean of the lumps and bumps that come with a custom serializa

[2019-10-11 00:13] neuneck commented on #81
I like this idea a lot.

A simple and probably very powerful way to move forward is to restrict the focus on the simple case that you present in your example: Linear chains of nodes. They are

1. easy to find,
2. there are no dependencies between different chains by definition (because a node with more than one input can only occur as the first node of such a chain) and
3. are also guaranteed not

[2019-10-11 00:21] neuneck commented on #82
Personally, I prefer a cleaner interface with more options in the call itself. So I would vote for a single entry point, such as

[code]
That way, users have a simple evaluation method at hand and the documentation can cleanly guide them through the options.

[2019-10-11 06:45] Onandon11 commented on #82
I agree with @neuneck, although we have to keep in mind that the options are clear and the function signature will not be enormous. A pro for neunecks' option is the fact that you can toggle the evaluation method easily with settings.

In our repo we have quite a lot of nested Graphs'. Some of these graphs run in linear mode, others run in threaded mode. It's nice to have the option to toggle the

[2019-10-11 06:56] Onandon11 commented on #17
I have no experience with creating Sphinx docs, I will study it a bit and join the doc development :)

[2019-10-11 06:59] Onandon11 commented on #39
@Anton-4, any update on a demo? We currently have such enormous graphs, they don't fit into a console window. I'm eager create more readable graphs like you showed.

[2019-10-11 07:42] PaulSchweizer commented on #82
Great, thanks for the input! Let's take @neuneck´s approach then.

[2019-10-11 08:36] PaulSchweizer commented on #80
Thanks for the input!

So it could look like this:

[code]

As for the file-like object, I think returning the `dumps` result should be fine for now. Currently we are also just returning a dict when serializing and it's up to the user to then store that to disk.

[code]

The other option would be to also have two methods `x.dumps` and `x.dump` (load/loads):

[code]

Or merging it into one `dump` f

[2019-10-11 08:49] PaulSchweizer opened #84 "How should subgraphs work"
Currently there is no support for sub-graphs, although I found this, which I think makes no sense at all 😄: https://github.com/PaulSchweizer/flowpipe/blob/master/flowpipe/graph.py#L48

Let's gather some ideas/thoughts on how sub graphs should work.

[2019-10-11 08:55] neuneck commented on #82
I will adapt the `evaluate_threaded` to match the behavior of plain `evalaute` anyways, so I can add this change on the same branch.

[2019-10-11 09:01] PaulSchweizer commented on #81
1. Limiting to chains only for now: Agreed!

2. Subgraphs
I like the subgraph idea but I think we should treat that in a separate ticket and decide on how to deal with sub graphs properly  #84

We might actually be able to achieve the sub-graph solution without sub-graphs though, by using a dedicated node instead. The node would have one in and one output just for treating the relationships. The n

[2019-10-11 09:04] neuneck commented on #84
My suggestion is to have the Graph itself duck type an INode:

- Its inputs are all open InputPlugs of nodes in the subgraph
- Its outputs are all open OutputPlugs of nodes in the subgraph
- It is considered dirty as soon as any node in the subgraph is dirty
- The main function to execute is already named consistently.

This way, substitution a set of connected nodes in the graph by the subgraph t

[2019-10-11 10:47] neuneck opened #85 "Multiprocessing test only works with submission_delay=0"
When working on the `Graph.evaluate` functionality, I found out that the current test
`test_multiprocessing_evaluation_updates_the_original_graph`
only runs successfully when the `submission_delay` parameter is set to `0`.

The pytest error is
[pytest_error.txt](https://github.com/PaulSchweizer/flowpipe/files/3717079/pytest_error.txt)

To reproduce, just execute `test_multiprocessing_evaluation_up

[2019-10-11 10:49] neuneck commented on #82
Changed tracked in https://github.com/PaulSchweizer/flowpipe/pull/86

[2019-10-11 10:49] neuneck commented on #79
Changed tracked in https://github.com/PaulSchweizer/flowpipe/pull/86

[2019-10-11 14:21] neuneck commented on #80
@PaulSchweizer I started looking into your serialization and I learned a lot. I did not expect that one can do so much with introspection and smart usage of python's magics.

Unfortunately, I also realized how hard it is going to be to remove all that logic form the classes themselves. Going forward I would introduce the `dump(s)` methods and refer to your serialization methods if the json format

[2019-10-11 14:31] neuneck commented on #80
On second thought, the `json` and `pickle` library are focused on a specific format, which is where they use the `format.dump(s)` style for an encoding process. To get a feeling for what is usual when defining methods for encoding, I looked at numpy and pandas, and found that their central object have `to_<format>()` method.

In the spirit of keeping the API as intuitive as possible, I would like

[2019-10-11 14:42] PaulSchweizer commented on #80
That is indeed a better naming convention!

Would that mean that we'd have a "to_json" and a "to_pickle" method in the INode?  That would interfere with our decision of having one "de/serialization" entry point, right?

[2019-10-11 14:54] neuneck commented on #80
Indeed, but it seems to be the standard thing to do.

[2019-10-11 15:07] PaulSchweizer commented on #80
Ok, then let's jump the bandwagon as well, thanks for researching this.

[2019-10-14 07:03] Onandon11 commented on #84
Like I said earlier, we are very frequently using sub graph's. Whereas a sub graph is specific combination of nodes.

Currently were transform a function which creates a graph internally to an `INode`, like in the example below.
[code]
It's only too bad that we can't see the contents of the sub graph, other than executing the graph. In other words. It would be great that connecting graph with anot

[2019-10-14 10:30] neuneck commented on #84
@Onandon11 I aggree, a `Graph` is basically a `Node`, so a `Graph` should mimic the behavior of a `Node`. To me it does not really make sense to introduce an evaluation order and threaded/multiprocessed evaluation to every Node, but instead to add inputs, outputs and a `is_dirty` property to a Graph.

Basically, I want to be able to use a `Graph` just like a `Node`, so `Graph` has to duck type `No

[2019-10-14 11:40] Anton-4 commented on #39
@Onandon11 today I sent an email to my previous employer asking their permission.
As soon as I get the ok I will get to work on making the code available.

[2019-10-14 13:09] neuneck opened #88 "Make the most important object available at the package level."
When setting up a workflow with flowpipe I always import the classes
`Graph`, `INode`, `InputPlug`, `OutputPlug`
and need to add three imports to it. In order to do so, I need to understand something about flowpipe's internal structure.

It might be more convenient for users, if they could just do
`from flowpipe import Graph, INode, InputPlug, OutputPlug`.

To do so, we just need to add to `flowpi

[2019-10-14 14:35] neuneck commented on #80
Note: I realized that `FunctionNode` can not be pickled generally and nodes created with the `@Node` decorator can never be pickled. The reason is that their evaluation function is not defined at the top level of of a module and pickle can not handle closures.

See https://docs.python.org/3.7/library/pickle.html#pickle-picklable

[2019-10-15 10:29] neuneck opened #89 "Have InputPlugs change is_dirty status only when newly set value is different from existing value"
In my workflow, I have to update the values of some input plugs, while other input plugs are unchanged. Rather than keeping track of what I need to change, I would prefer to simply assign the values and have the InputPlug figure out if the new value differs from the old one.

I suggest extending the `@value.setter` methods on all kinds of plugs to compare the newly set value to the existing value.

[2019-10-15 11:15] #82 closed

[2019-10-15 11:15] #79 closed

[2019-10-15 11:25] neuneck opened #90 "Need guidance on publishing to PyPI"
@PaulSchweizer You said to ping you if I need help with the release flow:

I merged the PR and then updated the version number in `flowpipe.__init__.py` on the master branch. I drafted a new release with tag `v0.5.5`.

The contributing.md mentions a way to trigger travis to release this. Do I need to click "publish release" for that to happen, or will I just release the old version with a new tag

[2019-10-15 12:35] PaulSchweizer commented on #90
sorry, I guess I'd need to be more specific about this, I'll update the contribution guide when I get the time for it. The only missing steps were:

1. Publish the github release, that will tag the commit which is then used in the build to determine whether to release to pypi
2. Travis should then trigger another build automatically
3. The py 3.6 build will publish to pypi

I was somehow confused

[2019-10-15 12:37] PaulSchweizer commented on #88
I like it, let's do it!

[2019-10-15 12:38] PaulSchweizer commented on #89
Also a good idea, let's do this!

[2019-10-15 14:04] neuneck commented on #89
PR: https://github.com/PaulSchweizer/flowpipe/pull/91

[2019-10-15 14:06] neuneck commented on #90
It makes sense to have travis do the actual publishing - thanks for clarifying that!

I registered for travis and see the "restart build" button, so I think I should be fine in that regard.

[2019-10-15 14:06] #90 closed

[2019-10-15 14:10] neuneck commented on #88
Tracked in https://github.com/PaulSchweizer/flowpipe/pull/92

[2019-10-15 15:50] PaulSchweizer opened #93 "threading returning too early"
We are now returning too early from the threading function because we remove the nodes from the nodes we check right after starting the thread: https://github.com/PaulSchweizer/flowpipe/blob/master/flowpipe/graph.py#L182

That way this is automatically true after having started the last thread: https://github.com/PaulSchweizer/flowpipe/blob/master/flowpipe/graph.py#L187

This could be a solution:

[2019-10-15 16:01] neuneck commented on #93
Thank you for finding this. I like the solution, too.

[2019-10-16 08:01] PaulSchweizer commented on #93
Resolved and released to PyPI as v0.5.6

[2019-10-16 08:01] #93 closed

[2019-10-16 12:19] #88 closed

[2019-10-16 12:19] #89 closed

[2019-10-17 12:42] Anton-4 commented on #39
I got the green light to open source the code. It does have to be a repository under the ml2grow
username with APACHE 2.0 license.

I have finished the demo and will look into deploying it. I will also
make a proper readme and then I am done I think.
I will post a link here to the repo once it is up.

[2019-10-17 12:49] PaulSchweizer commented on #39
Amazing! Thanks @Anton-4

[2019-10-17 12:51] neuneck commented on #39
I am looking forward to it, too. This will make communicating how our processing flow looks like much easier -- no more fiddling the graph together with inkscape :+1:

[2019-10-18 08:40] PaulSchweizer commented on #80
Thanks again @neuneck

[2019-10-18 08:40] #80 closed

[2019-10-18 12:50] PaulSchweizer commented on #85
Found the issue, I'll commit a PR later. Basically the check whether the upstreams are ready should only check whether one of the upstream nodes is still in `nodes_to_evaluate`.

[2019-10-18 13:45] #66 closed

[2019-10-18 19:47] PaulSchweizer opened #97 "Refactor signals during evaluation"
## Signals

Signals are meant for external processes that want to observe the graph evaluation, mainly GUI applications or other visualizations and update their state according to the signals they receive.

Currently we have two different types of signals being emitted during `graph.evaluate`.

[code]

Both of these were put in because I needed something quick. I don't like this and want to refact

[2019-10-18 20:04] PaulSchweizer commented on #84
Good news, I think sub graphs already work kind of the way they should, we just need to fix a few things.
(I had totally forgotten that this was in there already, sorry)

## Currently

[code]

The sub graph looks like this:

[code]

Now we can create another graph that utilizes the sub graph by connecting directly to its nodes.
Please note that the

[code]

[code]

The connections are not drawn co

[2019-10-18 20:20] PaulSchweizer opened #98 "Version 1.0.0"
I'd like to set a roadmap for a version 1.0.0, now that the library is being used by a few more people.

What should be implemented for a v1.0.0 and which issues can wait for future releases?

I'd suggest to address these topics:

- #85 The multiprocessing bug
- #84 Subgraphs
- #17 Move docs to sphinx, maybe more generally updating and extending the documentation to include the topics that have co

[2019-10-21 12:29] neuneck commented on #97
First of, as a disclaimer, I have never ever worked with signals before and am just now stumbling upon the subject. Therefore, please bear with me if this is obvious, but could the python core library module `signal` help us out? I guess that it could help people use our signals in larger contexts, since we would adhere to the standard way of going about things.

Ref:
python 3: https://docs.python

[2019-10-21 12:31] neuneck commented on #98
Sounds good to me!

[2019-10-21 12:37] neuneck commented on #84
I am not sure if the graph in/outputs have to be authored during development. A subgraph input/output could just be any plug inside of the subgraph that does not have a connection yet.

If a user wants a more elaborate scheme, where he exposes plugs that are also used internally in the subgraph, he has to access those plugs explicitly, but to me that's where we start crossing the border of a set o

[2019-10-21 12:45] neuneck commented on #98
When review your PR, I just wondered: Do we want to

- Add official support for python 3.8?
- Set up an official schedule to phase out support for old python versions?

Especially the latter would be interesting, as python 2 will drop out of official support, and older 3.x versions don't support some features that would allow for neater syntax (esp. f-strings, introduced in python 3.6).

[2019-10-24 09:08] TheElderMindseeker commented on #97
@neuneck IMHO: although Unix signals, which Python's `signal` is based upon, is well-known and time tested mechanism it is too low-level for the purposes of flowpipe. Those signals were designed to allow developers handle technical issues such as graceful shutdown on SIGTERM (Ctrl-C) or child process management using SIGCHLD. The other problem that may arise is the allocation of a new signal for t

[2019-10-24 11:05] PaulSchweizer commented on #97
Thanks for the comments guys. I agree, the name should be changed to "event" that makes more sense and does not confuse it with the system "signals" as mentioned. I'm not quite sure about the proposed metaclass solution could work but I'll take a closer look at it next week (I'm not in the office this week). Another solution would be  not to specify the arguments for an event at all. It might actu

[2019-10-24 11:05] #85 closed

[2019-10-24 11:21] PaulSchweizer commented on #98
Official support for py3.8 sounds good, we can just add it as a build target to travis.yml and see what happens to our tests :D

I'm a bit hesitant on phasing out py2.7 just yet though, I'd like to wait till next year and re-assess the situation then, currently we're still running on py2.7 and will do so at least for the first quarter of 2020. But after that yes, we should move away from supportin

[2019-10-24 15:10] neuneck commented on #84
I briefly looked at making this definition of graph inputs / outputs a proper feature, but `SubPlugs` are tricky:

What should be the behavior if some SubPlugs have a connection and others don't? Can the list of Graph-level inputs / outputs have a mix of Plugs and SubPlugs?

Off the top of my head, this makes sense. For both, InputPlugs and SubInputPlugs I can set their `value` property. They stil

[2019-10-25 09:20] Onandon11 commented on #84
Sorry for the late response but I had some busy times. Nevertheless, great that such a functionality is there already.

I think **Option 1** is the better one. I agree with @neuneck that someone may connect to any plug in the subgraph. This give more flexibility for the user and less constrains in coding style. I must say I always create the nodes trough the `@Node` decorator. Therefore it will be

[2019-10-25 09:24] Onandon11 commented on #97
I agree on this. Currently the flowpipe logger cannot be integrated into other modules, like my own, because it uses it's own logger dependency. I think we should handle the logger part and the signal part apart from each other.

[2019-10-25 09:30] Onandon11 commented on #98
I think this is a great plan. But I think we also need to have somewhat of a timeline. I really need to plan thing to get things done, I don't know how it is for you guys.

It also give somewhat more of a continuous improvement and focus (look at the number of issues currently are open 😄). Other projects have once every two weeks an update to a newer version, that gives something to work to.

[2019-10-26 11:23] TheElderMindseeker commented on #97
@PaulSchweizer in your initial post you wrote about `StatsReporter` which was aimed at providing the users of flowpipe with the runtime statistics of the node. Now that `StatsReporter` is a subject for removal I wonder what will be the mechanism for obtaining this statistics. In my opinion we should give the possibility to attach this information to the emitted event in some way. I am concerned wi

[2019-10-28 09:12] PaulSchweizer commented on #98
@Onandon11 , I like the idea of planning things out more. Do you have recommendations on which tools we should use or how we should go about this? Has anyone ever used the github project feature? Maybe we should give that a try?

[2019-10-28 10:32] Anton-4 commented on #39
The code is available [here](https://github.com/ml2grow/graph-flow-vis).
Graphs are imported using json, the current format is different from what is produced with the `to_json` defined in flowpipe. I created this format to give me more freedom for visualization.

I would like to change the visualization graph format to something more commonly used, I really like [JGF](https://github.com/jsongraph

[2019-10-28 11:07] neuneck commented on #84
How do we want to handle cases where the names (of plugs or nodes) are not unique?

While it makes sense to enforce node name uniqueness across a flat graph, if we allow subgraphs (and by extension, nested subgraphs), it can become quite involved to ensure name uniqueness across the overall resulting graph. Especially in situations where the overall graph would contain multiple instances of a give

[2019-10-28 14:40] neuneck commented on #39
@Anton-4 I agree that it would make sense to distinguish formats for storing and restoring the graph, such as the pickle and json formats we have so far, and formats for visualization. They are very different tasks, and finding or constructing a data structure that allows for both uses will be harder than to find a good format for each task in isolation.

Is GraphML still used? The official websit

[2019-10-30 11:12] Anton-4 commented on #39
The website is indeed very old but it is used in actively developed projects such as [neo4j](https://neo4j.com/docs/labs/apoc/current/export/graphml/), [jgrapht](https://jgrapht.org/javadoc/org/jgrapht/io/GraphMLImporter.html), [networkx](https://github.com/networkx/networkx/search?q=graphml&unscoped_q=graphml).

[2019-10-31 15:55] PaulSchweizer commented on #97
@TheElderMindseeker , currently the statistics only contain the evaluation time and a timestamp of the start time.
We could introduce a INode.stats field that gets filled with this infromation after evaluation, then you can inspect that data without having to necessarily tap into the event system.

[code]
What do you think, would something like that suffice?

Also, if there are any other stats you

[2019-10-31 16:24] PaulSchweizer commented on #97
I'll submit a PR for this tomorrow

[2019-11-01 09:19] PaulSchweizer commented on #39
@Anton-4 , I gave the visualization a try yesterday, very nice work, this is indeed quite helpful! As soon as time allows I am going to delve into it deeper. Thanks again for making it public and putting in the effort.

# Graphml
graphml has the advantage that it can already be read by existing graph visualizers (yEd for example).. Also @Anton-4 already put in effort which we can build upon.

# Vi

[2019-11-01 20:09] PaulSchweizer commented on #97
The PR is submitted: https://github.com/PaulSchweizer/flowpipe/pull/100

[2019-11-04 17:00] neuneck commented on #39
TBH, I would prefer a simple and clean export function to commonly used formats. Adding support for registering and calling visualizers seems a little much - I expect at most one visualizer actually being used per application.

[2019-11-05 17:16] Anton-4 commented on #39
I agree with @neuneck here. I am totally up for doing the implementation.

[2019-11-06 17:35] neuneck opened #101 "Does flowpipe have/need/want a logo?"
In the end of the month, I will give a talk at a local Data Science meetup on how I use flowpipe to orchestrate microservices.I will of course advertise flowpipe!

I think it would be great to have a logo to show, so if there is one in the works, or if someone has the skills to create one, that would be really amazing.

[2019-11-07 09:55] PaulSchweizer commented on #101
Super cool! Thanks @neuneck!
There is no logo in the works currently but under these circumstances I'll dust up my graphic design skills and try to come up with something, will keep you posted.
Will it be possible to see your slides or any of your information online?

[2019-11-07 09:58] #97 closed

[2019-11-07 10:11] PaulSchweizer commented on #39
Ok, great, I agree, just having the export functionality is enough, after all, we want to keep flowpipe focussed and clean, thanks for your opinions!
@Anton-4 , thanks for offering your help, please go ahead with the implementation.

So just to get everyone on the same page, we're going to continue on this ticket on graphml serialization, right?: https://github.com/PaulSchweizer/flowpipe/issues/32

[2019-11-07 12:12] neuneck commented on #101
Yes, of course. The talk I give is public anyways, so I don't see any reason not to upload the slides somewhere!
I'm really looking forward to the logo :)

[2019-11-10 10:33] PaulSchweizer commented on #101
I toyed around a bit, let me know which one you like best (if any),
**1**
![logo1](https://user-images.githubusercontent.com/5315460/68542505-96a76600-03ad-11ea-83e3-a12ebdea27c8.png)
**2**
![logo2](https://user-images.githubusercontent.com/5315460/68542506-96a76600-03ad-11ea-83eb-409e5ba191fb.png)
**3**
![logo3](https://user-images.githubusercontent.com/5315460/68542507-973ffc80-03ad-11ea-849f-e0

[2019-11-10 19:44] PaulSchweizer opened #103 "Bring the codacy grade back to A"
We have dropped in code coverage and our grade dropped to B on codacy: https://app.codacy.com/manual/paulschweizer/flowpipe/dashboard.

It's mainly either false positives that need to be ignored or minor issues that can be resolved easily.

[2019-11-10 20:26] PaulSchweizer commented on #84
Thanks for the discussion and the good points that were raised.

# Accessing nodes on sub graphs

The problem with name-uniqueness across all nodes and all subgraphs is a nasty one and none of the solutions are ideal, as @neuneck pointed out.

I think however that we can avoid having to deal with it by just NOT making it possible to access all nodes of all subgraphs via `__getitem__` on the graph

[2019-11-11 06:32] Onandon11 commented on #84
Every time I read you suggestions I'm wondering how do you find the time to create such extensive examples 😄

Personally I would like to prefer the "Manually Authored Plugs", so promoting inputs to be graph inputs. I think it's also the most pythonic and readable solution. It's also quite clear what the developer wants without running the code. This is also handy later on for logging, type hinting

[2019-11-11 08:40] PaulSchweizer commented on #98
@Onandon11 , I now created a milestone for v1.0.0 https://github.com/PaulSchweizer/flowpipe/milestone/1
and a project kanban board for it:
https://github.com/PaulSchweizer/flowpipe/projects/1

Let me know what you think.

[2019-11-11 14:05] neuneck commented on #101
I like deisgns 1 and 9, with a preference on 9.

Nr. 9 looks clean and dynamic to me, with the arrow pointing to the "o" and the box around the "wpipe" hinting at flow-based programming elements.

Nr. 1 has those elements more pronounced, but to me the boxes in front of the "f" make it less sleek.

Thank you a lot for the work that went into those! I hope that a logo will help us grow this project

[2019-11-11 14:13] neuneck commented on #84
Seconded! I like the `promotion` idea.

What about making subgraphs visible with the `__getitem__` magic? Then the line between a subgraph and a node vanishes api-wise. Granted, if you nest Graphs of the same name, you get weird stuff like
[code]
but if you have meaningfully named subgraphs, something like
[code]
reads quite nicely.

[2019-11-11 15:19] Onandon11 opened #104 "Reoccurrance of #69"
I got the same error as some time ago, regarding ticket #69. I thought we changed the exception catching from `TypeError` to `ValueError`. I sometime have an value which is not hasable and gives an `ValueError`. Currently that exception is not caught and the program crashes.

See `flowpipe\utilities.py @ row 96`

[2019-11-11 15:36] Onandon11 commented on #104
Create PR #105

[2019-11-12 07:10] #104 closed

[2019-11-12 07:14] Onandon11 commented on #84
I think we don't have to worry that much about nested subgraphs. It's good to have it in mind, but users can always abuse the python syntax if they like. If I look to my own usage of flowpipe, I would like to connect from the main graph maybe one level deeper, not more than that. That subgraph thereafter creates their own connections to other subgraphs. So syntax wise I'm not that worried about `g

[2019-11-14 12:45] neuneck opened #106 "Pattern for dynamic plug names"
When I build my nodes, I use the subclassing `INode` API, since I have to be able to pickle my graph at some later point, and the nodes are defined across various client packages.

In that API, it was tricky to define multiple nodes of the same type, while allowing for different input/output plug names. That's because the plug names have to align with keyword arguments of the `compute` function. A

[2019-11-14 16:41] PaulSchweizer commented on #106
Nice, sort of like an on the fly factory, that's why you wanted to pickle the input args to the `__init__` in an earlier ticket I assume?
Thanks for sharing and yes, if you find the time, please add it to the example files

[2019-11-16 00:51] glanois opened #107 "Is there a more flowpipe-ish way to do this (TCP server)?"
I cooked up a small server example to explore how to implement servers/services in flowpipe.

Here is the code: https://github.com/glanois/flowpipe/blob/dev/examples/flowserver.py

I wanted to encapsulate my TCP server as a `Node` that stood between the network and my application node.  Of course flowpipe did not like two nodes connected together (since that resulted in a circuit - a cyclic graph)

[2019-11-16 12:50] PaulSchweizer commented on #101
Thanks for your input, I had a hard time choosing one.
I uploaded Nr. 9 as logo.png, ready for use. Let me know if you need a different format or anything and good luck with the presentation!

[2019-11-21 15:33] PaulSchweizer commented on #107
Thanks for the contribution @glanois, very much appreciated and sorry for the long delay of an answer.
This looks correct to me. Flowpipe only aims to provide the benefits of a flow-based design pattern. Such a design pattern is not applicable in all situations. Setting up and running a server is a situation where the flow-based pattern is not really applicable (as you mentioned yourself).

You ba

[2019-11-22 21:58] #101 closed

[2019-11-23 18:47] glanois commented on #107
Hi @PaulSchweizer - thanks for your reply.  And thanks for taking a look at my code.  I use this pattern often when interfacing a flow-based application to a bi-directional communications medium (TCP socket, Unix domain socket, serial port, etc).

Just wanted to mention that flow-based programming allows for cyclic graphs  - see chapter XIV ("Loop-Type Networks") of "Flow Based Programming" by Mor

[2019-11-23 18:47] #107 closed

[2019-11-27 08:33] #84 closed

[2019-11-27 10:41] Anton-4 opened #109 "Use more pytest fixtures"
I was about to write some tests for the graphml stuff and noticed that `test_graph.py` would benefit a lot from more pytest fixtures. For example; `test_branching_evaluation_sequence`, `test_serialize_graph_to_json`, `test_serialize_graph_to_pickle`, `test_string_representations` could all use the same graph but the graph is built from scratch in every method.

Moving this graph creation to a fixt

[2019-11-27 11:08] PaulSchweizer commented on #109
Good idea but we had some issues with conftest.py in the past, the story is unfolding here: https://github.com/PaulSchweizer/flowpipe/pull/55

That being said, now that we do no longer run the tests under py3.4-3.5 we should be good with the conftest.py

[2019-11-27 11:22] Anton-4 commented on #109
Alright, I will run a small test with conftest.py first to see if I don't break anything.

[2019-11-27 15:41] neuneck commented on #101
@PaulSchweizer The slides for my talk tomorrow are done. You can find them at:
https://www.slideshare.net/secret/r4OjQTjsQK2Mer

[2019-11-29 10:02] PaulSchweizer commented on #101
Very cool, thanks for sharing! I hope your presentation went well. I'll take inspiration from it if I ever give a presentation on flowpipe :)

[2019-11-29 10:16] PaulSchweizer commented on #107
Nice read! In the long run we can definitely look into supporting more flow-based paradigms (like this one).  Thanks for the feedback, much appreciated and don't hesitate to come back with more ideas/questions etc.

[2019-11-29 10:25] neuneck commented on #101
Thank you. It went well indeed and people were genuinely interested in this approach. I think the great logo also really helped to give the project a "face" people can connect with!

[2019-12-04 19:16] Anton-4 opened #110 "Add test instructions to contributor guide"
It would be useful to add instructions to run the tests to the contributors guide.
Especially because I also failed to run the tests :stuck_out_tongue: .

I tried the following:
[code]

Which results in a lot of import errors similar to this one:
[code]

[2019-12-05 13:41] PaulSchweizer commented on #110
Good idea, we should add some more info about the tests in there.
The solution should be to use the develop flag when installing the setup.py:
`python setup.py develop`

[2019-12-05 17:03] Anton-4 commented on #110
Excellent, thank you. I will bundle the instructions with the conftest stuff from #109 .

[2019-12-11 14:17] neuneck opened #112 "Add a default value for raise_after in Graph.evaluate"
The flowpipe `Graph.evaluate(mode="threading")` hangs if any node with downstream dependencies throws an exception. This is remedied by setting `raise_after` to a finite value `n`, which will raise a `RuntimeError` if no threads are currently processing and no new threads have been spun up for `n` consecutive iterations of the evaluation loop. While small values of `raise_after` can cause prematur

[2019-12-11 16:36] neuneck opened #113 "How do you unittest your node implementations?"
I find it tricky to write good tests for my nodes. This might be because I use them as thin wrappers around functionality that is tested elsewhere, so there's little things to actually hook into. Nevertheless, I would be very interested in how other people approach tests for their nodes.

[2019-12-12 11:29] #110 closed

[2019-12-13 11:41] PaulSchweizer commented on #113
Good question. In your case I guess it does not make too much sense to write tests for the nodes themselves, it should be enough to test your actual implementations I guess.
For me, I test them like any other code, I can't think of anything special I'd do.

[code]

[2019-12-19 06:35] Onandon11 opened #114 "Data persistence causes memory to grow"
After a fair amount of flowpipe usage I recognize a significant grow in memory usage. Our project mainly uses `np.ndarray`, these arrays can grow as large of 1200 million floats. The usage of `INode` causes that the variables keep a reference count larger than zero. Therefore the garbage-collector won't remove these variables and keep them in memory. I would like to keep only the input data and th

[2019-12-19 09:00] neuneck commented on #114
Hi,

To my use case, keeping the intermediate Input and Output Plug values is
crucial.

We could add a flag to nodes that runs a 'del' on its input and output plug
values after the node sets itself clean. That could get done what you need,
I guess.

On Thu, Dec 19, 2019, 07:35 Onandon11 <notifications@github.com> wrote:

[2019-12-23 09:37] PaulSchweizer commented on #114
Sounds like a plan, we can `del` after having pushed to the downstream plugs and we control it by an env var and/or an input arg passed to evaluation. I can take a look at this next year after the holidays, but if anyone of you wants to take a look at it in the meantime, feel free to do so

[2019-12-23 09:40] PaulSchweizer commented on #112
I see, maybe we can find a way to catch these exceptions to inform the "main" thread instead of relying on the time. I haven't looked into this possibility yet but I think it'd be worth researching

[2019-12-23 12:24] PaulSchweizer opened #116 "Delete nodes from graph"
`Graph.delete_node(node)` will break all connections of the node and delete the node object

[2019-12-23 12:28] PaulSchweizer opened #117 "Add sub output plugs through Node decorator"
This should be made possible:

[code]

Resulting in a node like this:

[code]

[2019-12-27 10:00] #109 closed

[2020-01-15 10:16] #112 closed

[2020-01-17 17:03] neuneck opened #120 "Revamp multiprocessing in the same manner as multithreading"
It is in principle possible, to use the same framework (concurrent.futures) to do both, multithreading and multiprocessing. The use of that high-level API is, of course, that a lot of the edge cases are handled neatly and the overall stability is great.

A trade-off with the concurrent.futures.ProcessPoolExecutor is that it can only handle picklable objects (cf. https://docs.python.org/3.7/library

[2020-01-17 17:33] neuneck commented on #47
Attempted solution in https://github.com/PaulSchweizer/flowpipe/pull/121

[2020-01-21 10:17] neuneck opened #123 "Is the release documentation out of date?"
I recently revamped the threading evaluation, which we use heavily, and fixed a bug. Now I wanted to release that, but it seems the release documentation[ in our contributing guide](https://github.com/PaulSchweizer/flowpipe/blob/master/contributing.md) is not entirely up to date.
There, the steps (as far as I understand are):
1. change the version number in `flowpipe/__init__.py` and commit that t

[2020-01-23 09:29] PaulSchweizer commented on #120
Ok, good idea.
Maye we should think about introducing some sort of a "GraphRunner" design. A base class that evaluates the graph "in some way". We could then have a "FuturesMultiprocessingRunner" and a "LegacyMultiprocessingRunner" (as well as the linear and multithreading one). That way we could keep both options.
This would also open a gateway to entirely different evaluation methodologies, for

[2020-01-23 09:31] PaulSchweizer commented on #123
Sorry, yes, the second approach is the correct one, change the version in setup.py. The version in init caused issues since we added the import for the classes (Node, Graph etc.) to the init.

[2020-01-27 13:44] #123 closed

[2020-01-27 13:44] neuneck commented on #123
My release was successful and the documentation is updated!

[2020-01-29 14:33] #113 closed

[2020-02-12 17:05] neuneck commented on #120
Yes that sounds like a great idea!
I will be super busy for the next few weeks, though, as we are in a hard crunch phase right now, but if nobody else takes this on in the meanwhile, I'll gladly take care of it.

[2020-02-19 09:21] PaulSchweizer commented on #120
Nice, I'll assign this to you then, once you're ready let me know.

[2020-02-19 20:23] vvzen opened #125 "Visual Node Editor"
Hi @PaulSchweizer !
This is an awesome project which we're still using heavily at Framestore IA, so thanks for that. :)
Today I was letting my imagination run wild and I started to think.. what if you could have a visual node graph editor that would let create your custom graph, using your predefined nodes?
Then you could plug things in a intuitive visual way, and once you're happy with your graph

[2020-02-20 08:38] PaulSchweizer commented on #47
Closing, thanks @neuneck  for the implementation

[2020-02-20 08:38] #47 closed

[2020-02-20 11:33] PaulSchweizer commented on #125
Hi Valerio,

That's nice to hear, send my regards to the team at Framestore, I miss 'em!!!

As far as the node editor goes, you're absolutely right, this would be the next level!

In terms of visualization, @anton4 has done some great work on it, the discussion is here: https://github.com/PaulSchweizer/flowpipe/issues/39
And his code is here: https://github.com/ml2grow/graph-flow-vis
His solution

[2020-02-21 00:09] vvzen commented on #125
Hi @PaulSchweizer !
They definitely miss you too! :)

https://github.com/ml2grow/graph-flow-vis seems like a very nice project, is based on D3 which is a great data viz library for the web, even if the API it's quite convoluted compared to something like PaperJS or even ThreeJS. I've used to work with d3 in the past and also other canvas/svg web libraries so I would be happy to give a hand in this

[2020-02-23 16:17] PaulSchweizer commented on #98
I'm closing this ticket even though v1.0.0 is not ready yet. We have the milestone and the Kanban Project now so all the info for version 1.0.0 is tracked there now

[2020-02-23 16:17] #98 closed

[2020-02-23 16:29] PaulSchweizer commented on #103
Done

[2020-02-23 16:29] #103 closed

[2020-02-23 17:28] PaulSchweizer commented on #17
I am almost there, I just can't get the autodoc to work on readthedocs (or locally), the docs look like this at the moment: https://flowpipe.readthedocs.io/en/sphinx-docs/

Am I missing anything, does someone know how sphinx autodoc has to be set up, I am at a loss.

[2020-02-23 17:36] PaulSchweizer commented on #116
PR: #126

[2020-02-28 08:35] #117 closed

[2020-02-29 13:01] PaulSchweizer commented on #125
Hi @vvzen,

Here's my proof of concept with PySide2: https://github.com/PaulSchweizer/flowpipe_editor , give it a try.

I think the web app is the preferred solution for most users, but it takes take more time to implement (at least for me).
The Pyside version is quicker to implement but less attractive to the general user base of flowpipe since you need to have Qt/Pyside installed on your system.

[2020-02-29 16:46] vvzen commented on #125
Hi @PaulSchweizer !
cool, I'll start to work on the web version. For now, I think I'll gather ideas on which library it's better for this scope ('cause I definitely don't want to start writing WebGL stuff from scratch!).
I was looking at [Twojs](https://two.js.org/), which seems nice given the support for canvas/webgl/svg, and the fact that the API is inspired by [Threejs](https://threejs.org/), w

[2020-02-29 17:16] PaulSchweizer commented on #125
Ah, sorry, forgot to put the QApplication in there, should work now.

As for the js libs, I wonder if there might already be a library for graph networks that we could use?

[2020-02-29 17:39] vvzen commented on #125
Still happening, I tried the same thing before having a deeper look at what was causing it. If it was so easy I would have done it myself :P

There's one js library specifically made to handle graphs, but I feel it's too specific for what could be the aim of the node editor: https://github.com/ericdrowell/ElGrapho .
Same thing for http://sigmajs.org/ .
They are more aimed at generating graphs from

[2020-03-05 13:55] neuneck opened #128 "Events triggering multiple times"
I started using events to monitor the state of my Graph's execution. I register throwing a log line when evaluation of a node starts and finishes:
[code]
But the logs get emitted multiple times (about 40 times), in rapid succession (within 40 ms).

I run the flow in "threading" mode.

Does anyone have similiar issues? Am I using the events wrong? Is there some easy way to get the logs only once?

[2020-03-08 14:38] neuneck commented on #128
I managed to track down the culprit: Keeping the EVENTS as a class variable will run the emission on ALL `INode` subclasses, every time one of them triggers an event. Easy fix, PR incoming.

[2020-03-09 00:40] vvzen commented on #125
Hi @PaulSchweizer !
I just wanted to let you know that I've just started to work on the web editor in my spare time: https://github.com/vvzen/flowpipe-webeditor .
I could only dedicate to it a couple of hours while commuting, but so far Fabric.js seems a very nice choice: it comes with a lot of very useful features (zooming and object interaction, to name a few) and I really like the OOP design of

[2020-03-09 10:57] #128 closed

[2020-03-09 14:18] #116 closed

[2020-03-10 09:00] PaulSchweizer commented on #125
Thanks for getting it started @vvzen!

fabric.js seems like a good choice, let's run with it unless we come across something even better.

For the beginning, I'd say we should simply focus on displaying an arbitrary graph of nodes without much styling or finesse and no interactivity other than what already comes with fabric.js, like zooming and scrolling. That should be challenging enough for a st

[2020-03-10 23:29] vvzen commented on #125
Cool!

In order to make a dev plan for the next weekends (thanks to the corona 🦠 I'll probably have more weekends at home) I've outlined some steps as a general recap, I would like to know your opinion on them:

**General workflow**
1. The webapp would be used to create & connect a graph of nodes
2. Then the graph would be serialized to a static file
2.1 There are many formats that we could suppor

[2020-03-17 09:09] PaulSchweizer commented on #125
**General workflow:**
Agreed, let's focus on recreating the json format that is already implemented in flowpipe for now so we can immediately execute the graph. Other formats can follow at a later stage if there is a need.
We will also need a way to load existing graphs here.

**Nodes:**
We're on the same page here too. I think if the backend has access to the python library that contains the node

[2020-04-14 20:09] vvzen commented on #125
Just as an update - I had to shift priorities a little bit since luckily I got some more work to do in the weekends. But I've reached a initial state which I'll try to document soon (this weekend?) and add some gifs/videos to show what currently works and what doesn't - then we can maybe also set milestones?

[2020-06-30 06:37] Onandon11 opened #134 "Slow call `get_hash` in `NodeEncoder`"
**Is your feature request related to a problem? Please describe.**
In our project some graphs are time critical, when profiling the code the `NodeEncoder` arose as a bottleneck.

**Describe the solution you'd like**
Can we think of something else to serialize nodes without using the `sha256` of the `hashlib`?

**Describe alternatives you've considered**
Maybe we can use the `__repr__`, this method

[2020-06-30 06:41] Onandon11 opened #135 "Subgraphs in combination with `@Node` decorator"
**Is your feature request related to a problem? Please describe.**
I'm unable to use the `@Node` decorator in combination with subgraphs. This is due to the fact that the input plugs of the function content are not exposed.

**Describe the solution you'd like**
At runtime the function is decorated, so after the function is compiled it should be possible to connect inputs and outputs. I'm only not

[2020-06-30 06:42] #114 closed

[2020-06-30 09:45] neuneck commented on #134
It should not be too hard to make the hashing function used there configurable. There is no specific reason I picked the `sha256` except for it being quite common and available in the python standard library. To me, one advantage of the neat representations of flowpipe graphs is to easily tell when to graphs are the same (after execution), so a simple `__repr__` which falls back to the in-memory l

[2020-06-30 09:59] neuneck commented on #135
Can you elaborate on your issue a bit? I can't seem to see the problem.

After decorating a function with `@Node`, a _class_ of the name of the function is defined. Once you initialize an instance of that class, it has an `inputs` dict whose keys are the names of the input plugs, inferred from the function arguments. Here's a code snippet I set up to see if something is off:
[code]

Which gives me

[2020-06-30 11:34] PaulSchweizer commented on #135
I don't fully understand what the issue is with subgraphs and the Node decorator looks like, maybe you have a simple example? I'd hate to see you having to rewrite your codebase, so I'd really like to find s solution for this!

I tend to mostly use the @Node decorator because I feel it easier to manage and quicker to setup. I do however fully agree with @neuneck, the class approach just gives you

[2020-06-30 11:51] neuneck commented on #135
Note that the Plug instance set as input changes between the decoration class and the instances of it, and that a direct subclass of `INode` does not have the attribute `node.inputs` at all prior to initializatoin. The fact that this dictionary is defined for decorator-style nodes is a side effect of the construction routine for them.

Extended script to show what I mean:
[code]

Producing
[code]

[2020-07-05 09:22] neuneck commented on #56
I was finally starting to look at this today. I noticed that I only ever use the `>>` operator as
[code]
which makes sense, since we're building a directed acyclic graph, and the `>>` operator indicates the flow of information through the graph. Looking at the connection code, I was surprised that
[code]
gives the same result, even though the flow direction is the other way.

I understand this is

[2020-07-08 08:07] PaulSchweizer commented on #56
I have also never used the disconnect feature myself. The main use case for it would be mostly in a visual editor where users create graphs interactively. So the << feature can and should be deprecated.
I think I added that reversed output >> input feature for ease of use, but frankly, I have never used it that way and your concerns are all valid. So yes, let's deprecate that wrong direction flow

[2020-07-08 08:11] PaulSchweizer commented on #135
I see, the INode implementations would have to define their inputs and outputs on the class level. That is definitely something that we could discuss, there are pros and cons to it.

I am however not sure if this is the issue here?

I created this example, @Onandon11 maybe you can change it to match your problem so we can better understand it:

[code]

[2020-07-10 08:49] #106 closed

[2020-07-14 11:27] Onandon11 commented on #135
I agree with @PaulSchweizer that using the `@Node` is very convenient and that's why I'm also using it. Sorry for not elaborarting my problem..

What me mostly do is creating nodes which contains Graphs. So some nodes are basically a combinations of other nodes. At the highest level I create a Graph and make a single level connection of nodes (to improve readability and increase modularity). The c

[2020-07-14 11:31] Onandon11 commented on #134
I agree on why you picked the `sha256` and I also agree that this is a fine way because it indeed shows if objects are the same.

If it should only be called by `Node.list_repr()` and `Graph.list_repr()` than indeed something is going on. I inly use the function when I'm debugging, but thereafter I never call them again. However the `NodeEncoder` shows up many times in my profiler when running whi

[2020-07-14 11:45] Onandon11 commented on #134
So I profiled my code and saw that it's being called in:

https://github.com/PaulSchweizer/flowpipe/blob/125e5bddc7e2edcd14a28af20334bdf69f54db1b/flowpipe/plug.py#L60-L66

This function is called every time a value is updated. I don't think this is expected behavior isn't it?

[2020-07-14 12:22] neuneck commented on #134
Oh, yes it is. This piece of logic makes sure that a plug/node stays clean if you set the same input again. Thay way, when you re-run the graph and only parts of the inputs change, you can simply set all of the values, but only the altered part of the graph re-runs.

Would a way to override the hash function used here help you out? Alternatively, I think you might be able to get a dirty quick fix

[2020-07-14 12:40] neuneck commented on #135
I think you don't have to wrap the subgraphs in nodes at all. Connecting up nodes from two different graphs will make them mutual subgraphs:
[code]
prints
[code]

[2020-07-14 13:37] Onandon11 commented on #135
Yeah I understand but I would like to logic of, for example in your example, `sub1` enclosed in a function (or a `@Node` or `INode`), because I don't want it altered. Maybe I look at it the wrong way, but in your example if I want to reuse the exact logic of `sub1`, I have to rewrite it every time..

[2020-07-14 13:41] Onandon11 commented on #134
Hmm, again, you're right :p I don't use it that frequently (updating an existing graph), so that's why I didn't thought about it I think..  Maybe it's due to my other issue #135, were I frequently re-create Graphs because they are inside Nodes.

[2020-07-14 14:11] neuneck commented on #135
How about using a graph factory instead of wrapping graphs in nodes?

[code]
produces
[code]

[2020-07-14 14:21] neuneck commented on #134
It would be easy to make that hash function a constant in the `flowpipe.utilities` package and make use of python's lazy evaluation for convenient overriding. I'm talking about
[code]
and
[code]

This way, users like you, that are slowed down by this evaluation (or work with objects where the current hashing function doesn't work), can override the hash function conveniently, by just setting
[code

[2020-07-16 06:41] Onandon11 commented on #135
Wow, I feel quite stupid that I didn't thought about this option myself. This is indeed the expected functionality which I searched for.

I will try this! Thanks for your suggestion @neuneck!

[2020-07-27 10:37] PaulSchweizer opened #139 "Loop Type Networks"
A potential user of flowpipe pointed out the fact that we do not support loop type networks as described in the original Flow-Based Programming definition: http://www.jpaulmorrison.com/fbp/loop.htm

The example given, was reading a file line by line and acting on each line. I imagine that graph to look something like this:

[code]

I am not sure how to best implement this yet, it will involve quit

[2020-07-27 23:29] globant-camilo-rubio commented on #139
Hi Paul! Actually I don't think that there must be a link between Print Line output and Read Lines input. The general idea here is to pass every line read from file through the entire network, one by one, and not finish execution until all of them have been processed. I think it can be achieved by the loop you describe, but it would force to process next event only when the last one already finish

[2020-07-29 12:58] PaulSchweizer commented on #139
Thanks for explaining and illustrating the issue so well!

I have no experience with pyperator unfortunately, but it seems that the big difference is that in flowpipe, you have to construct your entire graph before execution, while pyperator is more "dynamic" in that way.

It would be a really cool to be able to do that in flowpipe as well, but as it stands we'd have to make some pretty big change

[2020-08-06 11:37] neuneck commented on #139
I concur with @PaulSchweizer - this would require fundamental changes to flowpipe. Most notably, as it stands, flowpipe has individual batches of work as inputs as a hard assumption. Each node is considered ready to operate only when all it's dependencies have finished their tasks. Thus, to accomodate a continuous, streaming approach would require us to revamp the graph execution logic as well as

[2020-08-06 11:38] neuneck commented on #135
@Onandon11 Did the Graph factories solve your problem? If so, can we close this issue?

[2020-08-17 07:51] Onandon11 commented on #135
Yes it did! We unfortunately have to write our whole library, but we will manage :) Thanks for you assistance!

[2020-08-17 07:51] #135 closed

[2020-08-19 07:37] Onandon11 opened #140 "Iteration node"
**Is your feature request related to a problem? Please describe.**
In our library we have to call a specific subgraph quite frequently (for example 100+ times). Currently you either the following options to achieve this:
1. Make a unique node for every iteration. *This is not following the architecture of the flowpipe, creating duplicate nodes. It also messes up the `print(graph)`*
2. Make the nod

[2020-09-03 08:44] neuneck commented on #56
Closed by PR #138

[2020-09-03 08:44] #56 closed

[2020-09-07 12:21] PaulSchweizer commented on #140
This looks very interesting, thanks for the elaborate example @Onandon11 ! I'd be happy to see this implemented.
@neuneck, switching to a streaming architecture is a bit more invovled, but as you say this addition might already fulfil a lot of purposes for now

[2020-09-09 06:38] Onandon11 commented on #140
Great :D Shall I make a PR and try to cleanup the example to implement it?

[2020-09-09 07:49] PaulSchweizer commented on #140
Yes, that would be great, thanks @Onandon11

[2020-11-03 09:46] neuneck opened #142 "Utility to distribute data into subgraphs"
**Is your feature request related to a problem? Please describe.**
I often have subgraphs with several nodes that will take the same input from outside the subgraph (e.g. several nodes taking the same file from a file-reading node). This is not well supported as of now, all options I came up with have drawbacks.

**Describe the solution you'd like**
I think a way to group inputs would be useful. S

[2020-11-14 09:51] PaulSchweizer commented on #142
@neuneck , sounds perfectly reasonable, thanks for the detailed explanation.
So basically we would add plugs to the graph (in- and outputs) and wire them up with the nodes inside. I think we talked about an option like this when we implemented the subgraphs but decided against it because it wasn't crucial. Now that we have subgraphs working and people are using them, I think we're in a good positi

[2020-11-17 10:00] neuneck commented on #142
If you have time and feel like it, go ahead! I'm going to be very busy for the next ~2-3 weeks, so I don't think I'll get around to implementing it earlier.

[2020-11-17 10:47] neuneck opened #143 "Graph.__getitem__ looking at `self.all_nodes` instead of `self.nodes`"
**Is your feature request related to a problem? Please describe.**
We work with subgraphs quite a bit. Unfortunately, the `Graph.__getitem__` accesor does not descend into subgraphs to retrieve nodes.

**Describe the solution you'd like**
`Graph.__getitem__` should recurse into subgraph nodes to retrieve a node for the user.

**Describe alternatives you've considered**
Re-implementing the name-bas

[2020-11-17 16:25] neuneck opened #145 "Node and Graph equality checks"
**Is your feature request related to a problem? Please describe.**
When writing tests involving flowpipe objects, it can be very useful to be able to compare nodes and graphs. I just now found myself constructing equality checks for Graphs and Nodes and think this might be a useful feature.

**Describe the solution you'd like**
Graph, Node and IPlug should support the `__eq__(self, other)` magic m

[2020-11-24 09:35] #143 closed

[2020-12-28 14:30] #142 closed

[2020-12-30 12:06] #17 closed

[2021-02-16 15:44] neuneck opened #150 "Minor convenience updates for InputPlugGroups"
**Is your feature request related to a problem? Please describe.**
When I group InputPlugs, I need special handling for them, i.e. keep track which plugs are published to the graph directly and which ones are groups.

**Describe the solution you'd like**
I would like an InputPlugGroup to behave more closely like a regular InputPlug, to keep the interface of subgraphs simple.
For now, I would like

[2021-02-24 10:32] #150 closed

[2021-04-16 13:26] neuneck opened #153 "Better handling of exceptions during node evaluation."
**Is your feature request related to a problem? Please describe.**
When a node's `compute` method raises an exception, there's no neat way of handling that within flowpipe.

**Describe the solution you'd like**
I would like to be able to add an exception handler to nodes that gets executed when the node's `compute` raises an exception. Additionally, I would like to extend the `Event` interface, so

[2021-06-18 20:10] DaveMtl opened #155 "How to properly shutdown, mid-process, a multithreaded graph?"
Greetings,

First, great library, we are making a pyqt app to handle data processing and flowpipe has been immensely useful.

I'd like to know if you have any advices on how to properly stop an app while a graph is running in threading mode.

Right now we are getting the following exception:
`raise RuntimeError('cannot schedule new futures after '
RuntimeError: cannot schedule new futures after in

[2021-06-19 12:26] neuneck commented on #155
Hi Dave, I'm glad you like flowpipe!

My first instinct is to go for a `threading.Event` and have all nodes react to that in whatever manner they need to (e.g. closing files before quitting). This might require some re-engineering of your nodes, though.

An easier to implement solution would be to track the event in `_evaluate_threaded` and shut down the ThreadPoolExecutor using `executor.shutdown

[2021-06-21 12:43] DaveMtl commented on #155
Hi neuneck,

I'll have a look threading.event, re-engineering our nodes shouldn't be too bad at this point of our project. I like that each node can have a specific reaction of a shutdown event, some can quit at any time while others are more sensitive to early shutdown.

#154, is something we've been pondering lately. For exemple, how to begin another run of the graph, to process another file, wh

[2021-06-21 12:46] neuneck commented on #155
Let me (us) know how/what worked for you in the end. I think an interruption feature and/or timeout on Graph evaluation would be very useful.

[2021-06-21 13:56] neuneck commented on #155
About starting another run of the Graph - is it an option to set up a second graph?

What we're doing to run multiple graphs in parallel is create the graphs from a factory function (e.g. `make_graph(file_path)`) and then run these graphs in parallel (implicitly in different greenlets, as they get created and executed within gunicorn workers in our case, but threads or processes should work just t

[2021-06-21 14:18] DaveMtl commented on #155
In our case it's not that straightforward because what handles the files is just another node inside the graph. We have multiple nodes to handle different types of files. Depending of the process we need to do, we use the appropriate "file node" at the beginning of the pipeline and we run the pipeline as long as the file node still has files to process.

That said, we could spawn a new graph as lo

[2021-06-29 08:51] neuneck commented on #155
Hi @DaveMtl
Were you able to get the behavior you wanted? If so, I'd be interested to hear about your solution.

[2021-06-29 12:46] DaveMtl commented on #155
Hi @neuneck,
For the parallel graphs, I added the concept of a master node. Before starting a graph I check if a master node is in the graph. Then after the graph is finished I check if the master node is done or not, if it's not, I start the graph again.
Since the app also work in console mode, I could also execute multiple app in parallel on a cluster where each instance of the app process just

[2021-08-07 07:01] PaulSchweizer commented on #145
Sounds reasonable. Are there any further updates on this from your side, otherwise I'd look into this

[2021-08-08 17:26] #120 closed

[2021-08-08 17:30] #33 closed

[2021-08-08 17:31] #34 closed

[2021-08-11 10:18] neuneck commented on #145
Please go ahead. What I hacked for our unit tests is

[code]

[2021-10-21 16:13] DaveMtl commented on #153
Hi there,

I'm also looking for the best way to handle exceptions generated inside the compute function. As there been any developement on this?

Once an exception is raised, how to you handle the flow of the graph? Do you interrupt it? Do you only interrupt downstream nodes ?

In our use case, interrupting the whole graph would be appropriate. Any advice on how to properly implement that?

[2021-12-07 17:02] neuneck commented on #145
@PaulSchweizer Did you make any progress here? Otherwise, I could add these equivalence checks to the codebase quite easily.

[2021-12-07 17:15] neuneck opened #156 "Do we want to apply black code styling?"
I recently was pointed towards the [black](https://github.com/psf/black) code styling tool, and like the idea of adhering to a fixed code style.

It's a tool with very little configuration (ideally none) that automatically structures python code. The big advantage here is that it's an uncompromising code style that's applied automatically. Thus is guarantees consistent code style across any number

[2021-12-09 13:14] PaulSchweizer commented on #145
Sorry, I started working on this, but then got completely sidetracked. Please feel free to implement it, if it is easy for you!
I pushed my state to: https://github.com/PaulSchweizer/flowpipe/tree/145-wip-node-equality
Maybe it helps, but if not, feel free to start from scratch!

[2021-12-12 10:54] neuneck commented on #145
This turns out to be significantly more complicated than I had anticipated. So far, I never needed any object for which I defined `__eq__()` to be a hashable collection. Obvious choices for building a custom hash didn't work out, so I guess I'm stuck at the very same point as you.
I don't see a clear path forward and deem the feature a "nice to have", so I would be okay with closing this issue as

[2022-01-12 19:17] PaulSchweizer commented on #156
Yes! That was on my invisible todo list anyways. Best to also combine it with isort and and also put it in a pre-commit hook.

[2022-01-12 19:17] PaulSchweizer commented on #145
Agreed!

[2022-01-12 19:18] #145 closed

[2022-01-25 11:34] neuneck commented on #156
Closed by #158

[2022-01-25 11:34] #156 closed

[2022-01-27 09:01] PaulSchweizer opened #160 "Travis integration seems broken"
Travis and other integrations we use don't seem to work anymore. Investigate why.

- [x] Can this be done with github pipelines? I've never used them, so I'm not sure what they're capable of or made for
- [x] Check codacy
- [x] pylint check
- [x] Tests and coverage
- [x] publishing pipeline

[2022-02-02 19:58] PaulSchweizer commented on #160
travis is no longer free, so we gotta look into github pipelines.

[2022-02-03 15:24] neuneck commented on #160
I've only ever been a user of CI/CD pipelines, modifying existing templates to work with various repos. Still, if you do need / want help on something here, I can try to chime in. Just let me know what I can do without interfering with your own work on this.

[2022-02-05 11:05] PaulSchweizer commented on #160
Thanks @neuneck I was thinking about creating actions for:
- linting, blocking PRs from getting merged if it fails
- tests, if possible for py2.7 (unfortunately this is still required for my use case) and py3.7+, also blocking PRs if they fail
- deployment to PyPi when updating the main branch. Not sure how to handle the version tag. Maybe only if the version has changed as well?
There seem to be

[2022-06-09 23:57] #160 closed

[2022-06-17 14:15] PaulSchweizer opened #163 "Docs creationis broken"
With the introduction of poetry we broke the creation of docs.
Needs to be fixed

[2022-07-09 14:52] PaulSchweizer commented on #163
Fixed, just brought back the setup file. Not the most elegant solution but will do for now

[2022-07-09 14:52] #163 closed

[2022-09-18 18:02] PaulSchweizer commented on #15
A first, not yet fully finished attempt: https://github.com/PaulSchweizer/flowpipe-celery-adapter

[2022-10-18 12:31] jonassorgenfrei opened #166 "Virtual Node Connection without input/output connection"
It would be cool to being able create a flowpipe connection between flowpipe nodes without  using the parameters so instead of:

`workers.outputs['output'].connect(build_walls.inputs['input'])`
using e.g.

`workers.connect(build_walls)`

This avoids the need to create empty dummy inputs/outputs.

[2022-10-18 12:41] jonassorgenfrei opened #167 "Graph Entry and exit Nodes"
I think it would be cool to add 2 functions to the Graph implementation.

To get a list with all of the EntryPointNodes to the graph that are the first Nodes in the graph execution (dont have any input connection to other nodes)
To get a list with all of the ExitPointNodes of the graph that are the last Nodes of the graph execution (dont have any output connection to other nodes)

So it's possible

[2022-11-15 11:20] theFlyingCat04 opened #168 "Graph evaluation mode 'multiprocessing' with graph inside node causes PicklingError"
**Describe the bug**
We are wrapping graphs into nodes. This way we can time the execution of parts of the program better since we create the graphs dynamically according to yaml configuration files. If the outermost graph is evaluated in "linear" or "threading" mode everything works fine. But using "multiprocessing" mode throws an Exception, a PicklingError to be more certain.

**To Reproduce**
M